<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>empleate</title>
    </head>
    
    <section th:fragment="divisionPantalla" class="py-4 mb-4 bg-light">
        
        <!--        El container con el espaciado-->
        <div class="container mt-5">
<!--        con esto se ayuda que este contenido y el cuadro este a la derecha-->
            <div class="row align-items-start">
<!--                Estos son los grid examples-->
                <div class="col-md-8">
                    <h1>[[#{entrevista.creacion}]]</h1>
                    <br>
                    <br>
                        
                    <p style="margin-left: 50px; max-width: 700px;">
                        [[#{entrevista.SeleccionarPost}]]
                    </p>
<!--                        Ver bien esta parte ya que son gets, se consideran dropdowns-->
                    <input style="width: 400px; height: 26px; margin-left: 50px;" type="text" class="form-control" aria-label="Text input">
                        
                    <p style="margin-left: 50px; max-width: 700px;">
                        [[#{entrevista.puestoTrabajo}]]
                    </p>
                        <!-- Ver bien esta parte ya que son gets, se consideran dropdowns-->
                    <input style="width: 400px; height: 26px; margin-left: 50px;" type="text" class="form-control" aria-label="Text input">
                        
                    <p style="margin-left: 50px; max-width: 700px;">
                        [[#{entrevista.fecha}]]
                    </p>
                        <!-- Ver bien esta parte ya que son gets, se consideran dropdowns-->
                    <input style="width: 400px; height: 26px; margin-left: 50px;" type="text" class="form-control" aria-label="Text input">
                        
<!--                        Ver como queda este boton de enviar-->
                    <button 
                            type="button" 
                            class="btn btn-primary btn-block">
                            <i class="fas fa-graduation-cap"></i> [[#{entrevista.btnEnviar}]]
                        </button>

                </div>

<!--                Este es el otro grid example-->
                <div class="col-md-4">
                    <div th:if="${entrevista != null and !entrevista.empty}">
                        
                        <h1>[[#{entrevista.reporteEntrevista}]]</h1>
<!--                        Para que en cada cuadro se muestre el titulo en cada valor-->
                        <thead class="table-dark">
                            <tr><th>#</th>
                                <th>[[#{entrevista.nombre}]]</th>
                                <th>[[#{entrevista.puestoTrabajo}]]</th>
                                <th>[[#{entrevista.confirmacion}]]</th>
                                </tr>
                        </thead>
                            
<!--                        En el diseño original habia un div con la variable 
                        diseñoPostulacion4 revisar si queda bien sin eso aca-->
                        <tbody>
                            <!-- Revisar bien esta parte, aca
                            es donde se van a mostrar todas las entrevistas-->
                             <tr th:each="entrevista : ${entrevistas}">
                                 <td>[[${entrevista.id_usuario}]]</td>
                                 <td>[[${entrevista.id_empleos}]]</td>
                                 <td>[[${entrevista.estado}]]</td>
                                 
                                

                        </tbody>
                    </div>
                </div>
            </div>
        </div>

        
    </section>
        
    </body>
</html>
