<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>empleate</title>
    </head>
    
<!--    **********************************************************************-->
    <body>
<!--  *****      Empleos y eslogan*******-->
        <section th:fragment="encabezado" class="py-4 mb-4 bg-light">
            
        <tr th:each="empleo : ${empleos}">
        <h1><i class="fas fa-cog"></i> [[#{titulo.empleos}]]</h1>
        <p><i class="fas fa-cog"></i> [[#{parrafo.empleos}]]</p>
        </section>
        
<!--Aqui es donde se coloca lo del boton agregar, abajo van a estar las opciones-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
<!--            Este DIV lo podemos usar de referencia para lo de los permisos, para 
            que solo las empresas puedan agregar jobs-->
<!--            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">-->
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarUsuario">
                            <i class="fas fa-plus"></i> [[#{empleo.agregar}]]
                        </button>
                    </div>
                </div>
<!--            </div>-->
        </section>

<!--        Aqui es la vista, el pop up-->
        <section th:fragment="agregarEmpleo">
            <div id="agregarEmpleo" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{empleo.agregar}]]</h5>
                            <button type="button" 
                                    class="btn-close" 
                                    data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                        </div> 
                        
<!--                        REVISAR LA FUNCIONALIDAD DE ESTE FORM-->
                        <form th:action="@{/empleo/guardar}" th:object="${empleo}"
                              method="POST" class="was-validated"
                              enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
<!--                                    Aca es donde se comienzan a agregar los campos-->
<!--                                        Ver lo del ID Titulo y demas -->
                                    <label for="titulo">[[#{empleo.titulo}]]</label>
                                    <input type="text" class="form-control" name="titulo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{empleo.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="requerimientos">[[#{empleo.requerimiento}]]</label>
                                    <input type="text" class="form-control" name="requerimientos" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="experiencia">[[#{empleo.experiencia}]]</label>
                                    <input type="text" class="form-control" name="experiencia" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="gradoAcademico">[[#{empleo.gradoAcademico}]]</label>
                                    <input type="text" class="form-control" name="gradoAcademico"/>
                                </div>
                               
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
<!--   *******     Botones que estan arriba bachillerato, tec  ******** -->
<!-- ******** ******* Hay que hacer la logica de los filtros-->
        <section th:fragment="botonesNivelEmpleo" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block"
                            <i class="fas fa-graduation-cap"></i> [[#{empleo.bach}]]
                        </button>
                        
                    </div>
                    
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block"
                            <i class="fas fa-certificate"></i> [[#{empleo.postGrados}]]
                        </button>
                        
                    </div>
                    
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block"
                            <i class="fas fa-tools"></i> [[#{empleo.tecnicos}]]
                        </button>
                        
                    </div>
                </div>
            </div>
        </section>
        <!--        *************************************************************-->

<!--        Revisar esta parte del id para confirmar que el id va a ser empleos por la tabla
        o si es mejor id_Empleos-->
        <section th:fragment="listadoEmpleos" id="empleos">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
<!--                        ********************************
                            Esta parte de los empleos puede cambiar
                            **************************************-->
                            <div th:if="${empleos != null and !empleos.empty}">
                                    
                                    <tbody>
<!--                                    Revisar bien esta parte, aca
                                        es donde se van a mostrar todos los empleos-->
                                        <tr th:each="empleo : ${empleos}">
                                            
<!--                                            Aca es con el diseño de bootstrap 
                                            y deberia de enseñar todos los empleos 
                                            con el mismo formato-->
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">[[${empleo.titulo}]]</h5>
                                                </div>
                                                <p class="mb-1">[[${empleo.empresa}]]</p>
                                                <small>[[${empleo.descripcion}]]</small>
                                                
<!--                                                Este es el boton que va a llevar a los
                                                estudiantes al empleo al que van a 
                                                aplicar-->
                                                <button <i class="fas fa-certificate">Ver mas</button>
                                            </a></tr>
                                            
<!--                                            Esto queda como referencia para lo del boton
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                                <a th:href="@{/usuario/eliminar/}+${usuario.idUsuario}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/usuario/modificar/}+${usuario.idUsuario}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>-->
                                    </tbody>
                            </div>
<!--                            Aca revisar se era empleos o empleo-->
                            <div class="text-center p-2" th:if="${empleos == null or empleos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        
    </body>
</html>
