<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantillaEmpleado :: head">
    </head>

    <body>
        <header th:replace="layout/plantillaEmpleado :: header"></header>
        <br>
        <br>
        <br>
        <h1 style="margin-left: 250px;">Nombre de la feria de empleo</h1>
        
        <p style="margin-left: 250px; max-width: 700px;">Lorem ipsum dolor sit amet consectetur adipiscing elit 
             nec ante maecenas, laoreet auctor vivamus diam purus habitant 
             torquent placerat. Quisque urna in dapibus tellus commodo hac, 
             phasellus nunc fusce congue dolor sit amet consectetur adipiscing elit.
         </p>
        
        <br>
        <button type="button" class="btnEMPL">Bachillerato y lic</button>
        <button type="button" class="btnEMPL">Post Grados</button>
        <button type="button" class="btnEMPL">Tecnicos</button>
        <br>
        <br>

        <div class="list-group listaEMPL">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Full-Stack Software Engineer</h5>
                </div>
                <p class="mb-1">Universidad Fidelitas</p>
                <small>Command|Link is a global SaaS platform revolutionizing the 
                    IT industry by providing network, voice services, and IT 
                    security solutions. Recognized for unprecedented innovation, 
                    they have won awards such as SD-WAN Product of the Year and 
                    Supplier of the Year. Their single pane of glass platform helps 
                    corporations consolidate infrastructure, solve ISP vendor sprawl, 
                    and maximize efficiency.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Junior/MidLevel React Developer - Remote Work</h5>
                </div>
                <p class="mb-1">Universidad Fidelitas.</p>
                <small class="text-body-secondary">As a Junior/Mid-Level React Developer 
                    at BairesDev, you'll be a full-time problem solver expected to have 
                    a mix of experience, knowledge, and independence. Innovation is 
                    key to our strategy, and we're looking for those willing to tackle 
                    complex tasks and master React.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Software Developer (Entry Level)</h5>
                </div>
                <p class="mb-1">Universidad Fidelitas.</p>
                <small class="text-body-secondary">Entry level Software Developer 
                    at Konrad works on mobile and web applications, assisting in 
                    the development of consumer and enterprise applications. 
                    Ideal for those with confidence in technical skills who want 
                    to be part of a skilled team.</small>
            </a>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>

    </body>
</html>